<div class="product-content__monogram">
  <input class="devMonoChk" type="checkbox" name="monogram" value="">
  Add Personalization + <span class="money">$5 USD</span>
</div>

<div class="devLinePopup">
  <div class="devLinePopup_Inr">
    <div class="devLinePopup_InrInr">
      <a class="devClose" href="#"><img src="//cdn.shopify.com/s/files/1/0398/4317/t/87/assets/closeIcon.png?29374"></a>
      <div class="devLineLeft">
        <div class="monoTitle">20 Characters Maximum</div>
			  <textarea maxlength="20" id="personalization-text" class="monoLength" name="properties[Personalization]"></textarea>
        <a href="#">Add Personalization + <span class="money">$5 USD</span></a>
      </div>
      <div class="devLineRight">
        <img src="//cdn.shopify.com/s/files/1/0398/4317/t/87/assets/Trad-BLK_700x.jpg?29374">
      </div>
    </div>
  </div>
</div>
